{% extends 'guide/base.html' %}


{% block title %}{{object.name}}{% endblock %}

{% block content %}
<div class="work-kbia-head">
	<h1>{{object.name}}</h1>
	<!--<h3>Training for KBIA students, employees and community members.</h3>-->
</div>

{% if object.videos.all %}
<div class="simple-listing video-listing">
	<h2>Videos</h2>
	<ul>
		{% for video in object.videos.all %}
		<li><a href="{{video.get_absolute_url}}"><i class="fa fa-video-camera" aria-hidden="true"></i>{{video.name}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% if object.links.all %}
<div class="simple-listing link-listing">
	<h2>Links</h2>
	<ul>
		{% for link in object.links.all %}
		<li><a href="{{link.get_absolute_url}}"><i class="fa fa-link" aria-hidden="true"></i>{{link.name}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% if object.posts.all %}
<div class="simple-listing post-listing">
	<h2>Text Guides</h2>
	<ul>
		{% for post in object.posts.all %}
		<li><a href="{{post.get_absolute_url}}"><i class="fa fa-file-text" aria-hidden="true"></i>{{post.name}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% if object.files.all %}
<div class="simple-listing file-listing">
	<h2>File Downloads</h2>
	<ul>
		{% for file in object.files.all %}
		<li><a href="{{file.get_absolute_url}}"><i class="fa fa-paperclip" aria-hidden="true"></i>{{file.name}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}



{% endblock %}